extends includes/page.pug

block vars
  - var bodyId = '404';

block content
  section#top.primary.banner
    .container-fluid
      .row
        .col-xs-12.col-sm-12.col-md-12
          h1.centered Sorry! We need to fix Twitter!
          p.centered
            a(href='/#petition') Sign our petition to democratize Twitter
        .col-xs-12.col-sm-12.col-md-12
          img.img-responsive.centered(src='/img/lifting-a-dreamer-2009.png', alt='failwhale')
