extends includes/page.pug

block vars
  - var bodyId = 'coalition';

block floatingbutton
  a.btn.navbar-btn.btn-cta.btn-fix(type='button', href='#join') Sign this Letter

block content
  section#letter.primary-inverse
    .container-fluid
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1
          include:markdown-it coopallies.md

  section#join.accent
    .container-fluid
      .row
        .col-xs-12
          h2.centered Join Us
          p.centered
            | Sign on to our joint letter
          div.col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
              link(href="https://actionnetwork.org/css/style-embed-whitelabel.css" rel="stylesheet" type="text/css")
              script(src="https://actionnetwork.org/widgets/v2/form/we-support-voting-yes-on-the-buytwitter-proposal?format=js&source=widget")
              div(id="can-form-area-we-support-voting-yes-on-the-buytwitter-proposal" style="width: 100%")