extends includes/page.pug

block vars
  - var bodyId = 'faqcomplete';

block content
    section#faq.primary-inverse
      .container-fluid
        .row
          .col-xs-12
            h2.centered FAQ
            .row
              .col-xs-12.center-all
                p.triangle-border.center-bottom.warm You might be wondering...
                img.img-responsive(src='img/chickemoji-xs.png')
            .row
              .col-xs-12.col-sm-10.col-sm-offset-1
                include:markdown-it(plugins=['markdown-it-attrs']) faqcomplete.md 