extends includes/page.pug

block vars
  - var bodyId = 'index';
  - var bodyClass = 'splash';

block content
  section#top.primary.banner
    .container-fluid
      .row
        .col-xs-12.col-sm-12.col-md-12
          h1.centered Democratize the people's news network
          h3.centered Tell Twitter to study democratic ownership
        .col-xs-12.col-sm-12.col-md-12
          img.img-responsive.centered(src='img/buytwitter.png', alt='trio of emoji chicks saying #buytwitter')


  section#democratize.primary-inverse
    .container-fluid
      .row
        .col-xs-12
          h2.centered We can democratize Twitter
        .col-xs-12.col-sm-12.col-md-10.col-md-offset-1.col-lg-6.col-lg-offset-0
          img.img-responsive(src='img/twtr.jpg', alt='graph of $TWTR stock history with sentiment analysis emoji layer')
        .col-xs-12.col-sm-12.col-md-10.col-md-offset-1.col-lg-6.col-lg-offset-0
          p
            | If Silicon Valley can disrupt whole industries, why not innovate with company ownership, too?
          p
            | With chaotic stock prices and politics threatening Twitter, we want to save "the people's news network" as a vital public utility. That's why we propose Twitter study ways to build user loyalty and increase shareholder value, through broad-based ownership and accountability similar to a co-op.


  section#proposal.primary
    .container-fluid
      .row
        .col-xs-12
          h2.centered Support our proposal for democratic ownership
        .col-xs-12.col-xs-offset-0.col-sm-10.col-sm-offset-1 
          img.emojiclock(src='img/birdie-soon4.png', alt='bird says stuff in emoji')
          img.centered.img-responsive(src='img/chickemoji-xs.png') 
      .row
        .col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
          a.btn.btn-fat.btn-block.btn-cta(href='#petition') Add Your Name
          p
            a.centered(href='/proposal/') Read the Proposal
        .col-xs-12.col-xs-offset-0.col-sm-10.col-sm-offset-1    
          p
            | Our proposal went to a vote at Twitter's annual meeting on May 22, 2017. We hoped for at least 3% of shareholders voting in favor to resubmit a stronger proposal in the future, and we got 4.9% saying Yes!  


  section#petition.primary-inverse
    .container-fluid
      .row
        .col-xs-12
          h2.centered Say Yes to a study on democratic ownership
          p.centered
            | Tell Twitter to study an exit to broad-based ownership and accountability
          div.col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            include includes/embed-petition.pug


  section#supporters.accent
    .container-fluid
      .row
        .col-xs-12
          h2.centered Shareholders supporting our proposal
        include includes/shareholder-tweets.pug


  section#coop.primary-inverse
    .container-fluid
      .row
        h2.centered Co-op Allies
        p.centered
          | Support our proposal to #BuyTwitter   
        include includes/allies-logos.pug
      .row
        .col-xs-12               
          p.centered
            a(href='/coopallies/') Sign the letter

  section#cta.accent
    .container-fluid
      .row
        .col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.center-all
          p.triangle-border.center-bottom Want to help us win?
          img.img-responsive(src='/img/chickemoji.png')
          include includes/twitter-share.pug


  section#press.primary-inverse
    .container-fluid
      .row
        h2.centered Featured press
        .col-xs-12.col-sm-11.col-sm-offset-1.col-md-4.col-md-offset-0
          blockquote
            p "It makes perfect sense"
            a(href='https://www.wired.com/2016/11/lets-build-next-twitter-like-green-bay-packers/', target='blank')
              img.img-responsive.logo(src='img/logo-wired.png', alt='wired logo')
        .col-xs-12.col-sm-11.col-sm-offset-1.col-md-4.col-md-offset-0
          blockquote
            p "a dream that is worthy of consideration"
            a(href='https://www.ft.com/content/5997d76e-ede3-11e6-ba01-119a44939bb6', target='blank')
              img.img-responsive.logo(src='img/logo-financialtimes.png', alt='ft times logo')
        .col-xs-12.col-sm-11.col-sm-offset-1.col-md-4.col-md-offset-0
          blockquote
            p
              | "Jack, if you're listening, change the narrative from a struggling social network to the voice of the people."
            a(href='https://thehustle.co/twitter-coop', target='blank')
              img.img-responsive.logo(src='img/logo-thehustle.png', alt='the hustle logo')
      .row.presslogos        
        include includes/press-logos.pug             
      p.centered
        a(href='/press/') See 101 more articles


  section#faq.primary
    .container-fluid
      .row
        .col-xs-12
          h2.centered FAQ
          .row
            .col-xs-12.center-all
              p.triangle-border.center-bottom You might be wondering...
              img.img-responsive(src='img/chickemoji-xs.png')
            .col-xs-12.col-sm-10.col-sm-offset-1
              include:markdown-it(plugins=['markdown-it-attrs']) faq1.md
          .row
            .col-xs-12.center-all
              p.triangle-border.center-bottom Why Democratize?
              img.img-responsive(src='img/chickemoji-xs.png')
            .col-xs-12.col-sm-10.col-sm-offset-1
              include:markdown-it(plugins=['markdown-it-attrs']) faq2.md    
          .row
            .col-xs-12.center-all
              p.triangle-border.center-bottom Ways this could work
              img.img-responsive(src='img/chickemoji-xs.png')
            .col-xs-12.col-sm-10.col-sm-offset-1
              include:markdown-it(plugins=['markdown-it-attrs']) faq3.md
   

  section#organize.primary-inverse
    .container-fluid
      .row
        .col-xs-12
          h2.centered Get involved
          .col-xs-12.col-xs-offset-0.col-sm-10.col-sm-offset-1
            include:markdown-it organize.md
            
          .row
            .col-xs-12.center-all
              p.triangle-border.center-bottom.warm
                | Email us at 
                a(href='mailto:info@wearetwitter.global') info@wearetwitter.global  
                | or join the conversation on 
                a(href='https://www.loomio.org/g/PKBSd1xn/buy-twitter') Loomio 
              img.img-responsive(src='img/chickemoji-xs.png')
          p.centered.cc
            | BuyTwitter.org 
            a(href='https://creativecommons.org/licenses/by-nc/2.0/', target='blank') CC BY-NC

