extends includes/page.pug

block vars
  - var bodyId = 'morepress';

block content
  section.primary-inverse
    .container-fluid
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1
          include:markdown-it press.md