extends includes/page.pug

block vars
  - var bodyId = 'proposaltext';

block content
  section.primary-inverse
    .container-fluid
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1
          include:markdown-it(plugins=['markdown-it-attrs'], html=true) proposal.md

  section.accent
    .container-fluid
      .row
        .col-xs-12.col-sm-10.col-sm-offset-1
          .row
            .col-xs-12.center-all
              p.triangle-border.center-bottom Where did this proposal come from?
              img.img-responsive(src='img/chickemoji-xs.png')
          include:markdown-it(plugins=['markdown-it-attrs'], html=true) proposal-learnmore.md
