extends includes/page.pug

block vars
  - var bodyId = 'howtovote';

block content
  section#cta.accent
    .container-fluid
      .row
        .col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.center-all
          p.triangle-border.center-bottom Are you a shareholder?
          img.img-responsive(src='img/chickemoji.png')
          a.btn.btn-medium.btn-cta(type='button', href='#vote')  Vote Yes on Our Proposal


  section#vote.primary-inverse
    .container-fluid
      .row
        .col-xs-12.center-all
          h2 We need Twitter shareholders to vote Yes
          .row
            .col-xs-12.center-all
              p.triangle-border.center-bottom.warm How do I vote?
              img.img-responsive(src='img/chickemoji-xs.png')
          h3 1. Get your voter info
          p
            | If you don’t have your Twitter proxy card or control number, contact your broker.
          h3 2. Vote by May 21 at 11:59 PST
          .row
            .col-xs-12.col-md-4
              img.responsive.vote-icon(src='img/laptop.png', alt='laptop emoji')
              strong Vote Online
              p
                | Go to 
                a(href='http://www.AALvote.com/TWTR', target='blank') www.AALvote.com/TWTR
            .col-xs-12.col-md-4
              img.responsive.vote-icon(src='img/phone.png', alt='phone emoji')
              strong Vote by Phone
              p
                | Call 
                a(href='tel:18668049616') 1 (866) 804-9616
            .col-xs-12.col-md-4
              img.responsive.vote-icon(src='img/mail.png', alt='envelope emoji')
              strong Vote by Mail
              p
                | Send Twitter 
                a(href='img/mailballot.pdf', target='blank') this proxy card
            .col-xs-12
              p
                | To vote in-person at the May 22 shareholder meeting, sign up at 
                a(href='http://www.AALvote.com/TWTR', target='blank') www.AALvote.com/TWTR