extends includes/page.pug

block vars
  - var bodyId = 'whydemocratize';

block content
    section.accent
      .container-fluid
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1
            .row
              .col-xs-12.center-all
                p.triangle-border.center-bottom Why democratic ownership?
                img.img-responsive(src='img/chickemoji-xs.png')
            include:markdown-it thiscouldwork2.md

            .row
              .col-xs-12.center-all
                p.triangle-border.center-bottom
                  a(href='/vote') Vote YES
                  |  to explore democratic user ownership and greater value for shareholders.
                img.img-responsive(src='img/chickemoji-xs.png')
