/*# sourceMappingURL=bootstrap.css.map */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
  color: #d65050;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 600;
}

a:focus {
  outline: 0;
}

a:hover, a:active, a:focus {
  color: #c14848;
  text-decoration: underline;
}

:focus {
  outline: 0;
}

section {
  min-height: 400px;
  padding: 50px 0;
}

ul {
  -webkit-padding-start: 0;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

img {
  margin-bottom: 20px;
}

@media only screen and (min-width: 992px) {
  blockquote {
    border-left: 0;
  }
}

body {
  font-family: Open Sans, sans-serif;
  color: #222222;
  font-weight: 400;
  font-size: 1.1rem;
}

@media only screen and (min-width: 460px) {
  body {
    font-size: 1.4rem;
    font-weight: 300;
  }
}

html {
  font-size: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  h1 {
    text-align: left;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 460px) and (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 992px) {
  h2 {
    font-size: 3.0rem;
  }
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 991px) {
  h3 {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 992px) {
  h3 {
    font-size: 2.0rem;
  }
}

h4 {
  font-size: 1.3rem;
  padding-bottom: 1.4rem;
  padding-top: 2.8rem;
}

@media only screen and (min-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1.1rem;
  margin-bottom: 1em;
}

@media only screen and (min-width: 460px) {
  p {
    font-size: 1.4rem;
  }
}

strong {
  font-weight: 600;
}

/* Clear inner floats */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Lazy centering */
.centered,
.center-all * {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-all .btn-medium {
  max-width: 400px;
}

.center-all a:not(.btn) {
  display: inline;
  text-decoration: none;
}

.center-all a:not(.btn):hover, .center-all a:not(.btn):focus {
  text-decoration: underline;
}

.center-all .callout-left {
  text-align: left;
}

.banner {
  padding-top: 60px;
}

@media only screen and (min-width: 992px) {
  .banner img {
    margin-top: 20px;
  }
}

footer {
  min-height: 110px;
}

.navbar {
  min-height: 60px;
}

.navbar-default,
.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse {
  border: none;
}

.navbar-default,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1978c8;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d65050;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-toggle .icon-bar {
  width: 28px;
  height: 3px;
}

.navbar-toggle {
  float: left;
  display: block;
  margin-top: 12px;
}

.navbar-header {
  float: none;
}

.navbar-collapse {
  box-shadow: none;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-collapse.collapse.in {
  display: block !important;
  overflow-y: visible;
}

.navbar-nav {
  float: none !important;
}

.navbar-nav > li {
  float: none;
}

.navbar-nav > li:before {
  margin-top: 6px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-brand {
  padding: 19px 15px;
  font-size: 20px;
  font-weight: 600;
}

.navbar-brand > img {
  display: inline-block;
  margin: -10px 10px 0 0;
  height: 40px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffcc4c;
}

.navbar-fixed-top .navbar-collapse {
  max-height: 400px;
}

/* fix bs3 horizontal scrollbar bug */
.row {
  margin: 0;
  padding: 0;
}

.col-xs-12 {
  padding-left: 5px;
  padding-right: 5px;
  & ul {
    padding-left: 15px;
  }
}


