/* ============================================
== Action Network Overrides
** ========================================== */
/* hide petition title */
/* boost size of "sign this form" */
/* we use widget style=full to get the thermometer
    * but we don't want to show the video or the full text 
    * so hide them */
#can-petition-area-wearetwitter #can_embed_form #can_main_col {
  display: none;
}

#can-petition-area-wearetwitter #can_embed_form .check_radio_field label {
  font-weight: 600;
  font-size: 18px;
  font-family: 'Open Sans';
}

#can-petition-area-wearetwitter #can_embed_form .check_radio_field label input {
  left: 20px;
}

#can-petition-area-wearetwitter #can_embed_form .action_status_tracker section {
  min-height: 10px;
}

#can-petition-area-wearetwitter #can_embed_form h2 {
  display: none;
}

#can-petition-area-wearetwitter #can_embed_form h3 {
  display: none;
}

#can-petition-area-wearetwitter #can_embed_form h4 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Open Sans';
}

#can-petition-area-wearetwitter #can_embed_form .action_status_running_total {
  color: #d65050;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Open Sans';
}

#can-petition-area-wearetwitter #can_embed_form .action_status_tracker .action_status_status_bar span.action_status_status_bar-grow {
  background-color: #d65050;
  background-image: linear-gradient(to left, #d65050, rgba(214, 80, 80, 0.85)) !important;
}

#can-petition-area-wearetwitter #can_embed_form input[type="submit"],
#can-form-area-we-support-voting-yes-on-the-buytwitter-proposal #can_embed_form input[type="submit"] {
  background-color: rgba(214, 80, 80, 0.9);
  box-shadow: 0 0 0 rgba(50, 93, 74, 0.11), 0 0 0 rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
  padding: 10px;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-shadow: none;
}

#can-petition-area-wearetwitter #can_embed_form input[type="submit"]:hover,
#can-form-area-we-support-voting-yes-on-the-buytwitter-proposal #can_embed_form input[type="submit"]:hover {
  background-color: #d65050;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

#can-petition-area-wearetwitter #can_embed_form input[type="text"],
#can-petition-area-wearetwitter #can_embed_form input[type="email"],
#can-form-area-we-support-voting-yes-on-the-buytwitter-proposal #can_embed_form input[type="text"],
#can-form-area-we-support-voting-yes-on-the-buytwitter-proposal #can_embed_form input[type="email"] {
  height: 40px;
}

#can-petition-area-wearetwitter #can_embed_form #can_thank_you h1 {
  font-size: 2rem;
  text-align: center;
  color: #1978c8;
  text-shadow: none;
}

#can-petition-area-wearetwitter #can_embed_form #can_thank_you,
#can-petition-area-wearetwitter #can_embed_form #can_thank_you h4,
#can-petition-area-wearetwitter #can_embed_form #can_thank_you p {
  text-shadow: none;
  box-shadow: none;
  background-color: #fff;
  color: #1978c8;
}

#can-petition-area-wearetwitter #can_embed_form #can_thank_you #action_info{
  border-top: 1px solid #d65050;
}

@media (max-width: 767px) {
  #can-petition-area-wearetwitter #can_embed_form form ul {
    margin-left: 0;
  }
  #can-petition-area-wearetwitter #can_embed_form .action_target {
    display: none;
  }
  #can-petition-area-wearetwitter #can_embed_form .action_owner_box {
    display: none;
  }
  #can-petition-area-wearetwitter #can_embed_form .action_description {
    display: none;
  }
  #can-petition-area-wearetwitter #can_embed_form .action_letter {
    display: none;
  }

  #can_embed_form #can_thank_you #action_info .action_owner {
    display: none;
  }
}

#can-petition-area-wearetwitter #can_embed_form.can_float #form_col1,
#can-form-area-we-support-voting-yes-on-the-buytwitter-proposal #can_embed_form.can_float #form_col1 {
  float: none;
  width: 100%;
}
#can-petition-area-wearetwitter #can_embed_form.can_float #form_col2,
#can-form-area-we-support-voting-yes-on-the-buytwitter-proposal #can_embed_form.can_float #form_col2 {
  float: none;
  width: 100%;
}

