.btn,
.btn-lg,
.btn-group-lg > .btn {
  border-radius: 5px;
  border: 0;
}

.btn:focus {
  outline: 0;
}

.btn-fix {
  position: fixed;
  right: 8px;
  bottom: 55px;
  font-size: 1em;
  padding: 9px 25px; 
  @media only screen and (max-width: 460px){
    bottom: 60px;
  }
}
.btn-share {
  position: fixed;
  right: 8px;
  bottom: 110px;
  font-size: .55em;
  padding: 10px 25px;
}

.btn-fat {
  font-size: 1.5em;
  padding: 12px 25px;
  margin: 20px 0;
}

.btn-medium {
  font-size: 1em;
  padding: 14px 25px;
}

.btn-small {
  font-size: 0.8em;
  padding: 8px 20px;
}

.btn-cta {
  background-color: #d65050;
  color: #fff;
}

.btn-cta:hover, .btn-cta:focus, .btn-cta:active {
  color: #fff;
  background-color: #c14848;
  border-color: #c14848;
}

.btn-twtr {
  background-color: #1da1f2;
  color: #fff;
}

.btn-twtr:hover, .btn-twtr:focus, .btn-twtr:active {
  color: #fff;
  background-color: #1a91da;
  border-color: #1a91da;
}
