
.primary p a,
.secondary p a,
.tertiary p a {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}

.primary p a:hover,
.secondary p a:hover,
.tertiary p a:hover {
  color: #ffcc4c;
}

.primary {
  background-color: #1978c8;
}

.primary h1,
.primary h2,
.primary h3,
.primary h4,
.primary p {
  color: #fff;
}

.primary-inverse {
  background-color: #fff;
}

.primary-inverse h1,
.primary-inverse h2,
.primary-inverse h3 {
  color: #1978c8;
}

.primary-inverse p {
  color: #222222;
}

.secondary {
  background-color: rgba(68, 151, 220, 0.45);
}

.secondary h1,
.secondary h2,
.secondary h3,
.secondary h4,
.secondary p {
  color: #fff;
}

.tertiary {
  background-color: #1462a4;
}

.tertiary h1,
.tertiary h2,
.tertiary h3,
.tertiary h4,
.tertiary p {
  color: #fff;
}

.accent {
  background-color: #f5f5f5;
}

.accent h2,
.accent h3 {
  color: #1978c8;
}