
body.page {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  body.page {
    margin-top: 40px;
  }
}

body.page h1 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  text-align: center;
}

@media only screen and (min-width: 460px) {
  body.page h1 {
    font-size: 2.6rem;
  }
}

body.page h3 {
  text-align: left;
}

body.page h4 {
  color: #1978c8;
}

#proposal p a {
  text-decoration: none;
}

#proposaltext .btn {
  max-width: 400px;
  margin-top: 40px;
}

/* list items with hearts */
#morepress section li,
#thiscouldwork section li,
#whydemocratize section li,
#coalition section#letter li {
  margin-left: 1.5em;
}

#morepress section li:before,
#thiscouldwork section li:before,
#whydemocratize section li:before,
#coalition section#letter li:before {
  content: '\f004';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #ffcc4c;
}

#faq .faq-item {
  font-weight: 600;
  padding-top: 2.2em;
  padding-bottom: 0.7em;
}
#faq .btn-block {
  text-decoration: none;
  margin-bottom: 4em;
  margin-top: 2em;
  max-width: 600px;
}
#press .presslogos{
  margin: 2em 0;
  & .logo{
    opacity: 0.8;
    &:hover,
    &:focus{
      opacity:1.0;
    } 
  }
}

#vote .triangle-border {
  max-width: 300px;
}
#howtovote h3 {
  text-align: center;
}

@media only screen and (max-width: 768px){
  #faq .btn-block{
    max-width: 100%;
  }
}

@media only screen and (max-width: 520px) {
  #faq .triangle-border,
  #organize .triangle-border,
  #whydemocratize .triangle-border {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
  }
}

#clockdiv {
  color: #fff;
  display: block;
  font-weight: 100;
  text-align: center;
  font-size: 44px;
  margin-bottom: 1em;
  margin-left: -17px;
}

@media only screen and (max-width: 568px) {
  #clockdiv {
    font-size: 22px;
  }
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: #4497dc;
  display: inline-block;
  margin-right: -17px;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #1462a4;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

.emojiclock {
  margin: 30px auto 0 auto;
  display: block;
  padding-left: 17px;
}

@media only screen and (max-width: 568px) {
  .emojiclock {
    max-width: 100%;
    padding-left: 0;
  }
}

.twitter-follow-button {
  float: none;
  margin-top: 20px;
}

.twitter-tweet.twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

/* match iframe style in case of embed error */
.twitter-tweet.twitter-tweet-error {
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  max-width: 500px;
  padding: 20px 20px 11.6px 20px;
  margin: 0 auto 20px auto;
}
/* the date */
.twitter-tweet.twitter-tweet-error a {
  color: #697882;
  font-weight: normal;
}
/* links in tweet text */
.twitter-tweet.twitter-tweet-error p a {
  color: #2b7bb9;
}

.vote-icon {
  width: 64px;
}

.cc {
  font-size: .9em;
}
.power{
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 20px;
  & a {
    color: #1978c8;
  }
}
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.icon-fist {background: url('../img/icon-fist.png') no-repeat 50% 50%;}

.icon-bolt {background: url('../img/icon-bolt.png') no-repeat 50% 50%;}


.center-all .fa.fa-heart {
  display: inline-block;
  color: #ffcc4c;
}