
/* ============================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ========================================== */
/* THE SPEECH BUBBLE
------------------------------------------------------------- */
.triangle-border {
  position: relative;
  padding: 10px;
  margin: 1em 0 2em;
  border: 5px solid #fff;
  color: #333;
  background: #fff;
  /* css3 */
  border-radius: 10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */
.triangle-border.left {
  margin-left: 30px;
}

@media only screen and (min-width: 521px) and (max-width: 768px) {
  .triangle-border.left {
    margin-left: 0;
  }
}

/* Variant : for right positioned triangle
------------------------------------------ */
.triangle-border.right {
  margin-right: 30px;
}

/* THE TRIANGLE
----------------------------------------------------------------- */
.triangle-border:before {
  content: "";
  position: absolute;
  bottom: -20px;
  /* value = - border-top-width - border-bottom-width */
  left: 40px;
  /* controls horizontal position */
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #fff transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content: "";
  position: absolute;
  bottom: -13px;
  /* value = - border-top-width - border-bottom-width */
  left: 47px;
  /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}

/* Variant : top
------------------------------------------ */
/* creates the larger triangle */
.triangle-border.top:before {
  top: -20px;
  /* value = - border-top-width - border-bottom-width */
  bottom: auto;
  left: auto;
  right: 40px;
  /* controls horizontal position */
  border-width: 0 20px 20px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
  top: -13px;
  /* value = - border-top-width - border-bottom-width */
  bottom: auto;
  left: auto;
  right: 47px;
  /* value = (:before right) + (:before border-right) - (:after border-right) */
  border-width: 0 13px 13px;
}

/* Variant : left
------------------------------------------ */
/* creates the larger triangle */
.triangle-border.left:before {
  top: 10px;
  /* controls vertical position */
  bottom: auto;
  left: -30px;
  /* value = - border-left-width - border-right-width */
  border-width: 15px 30px 15px 0;
  border-color: transparent #f5f5f5;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
  top: 16px;
  /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom: auto;
  left: -21px;
  /* value = - border-left-width - border-right-width */
  border-width: 9px 21px 9px 0;
  border-color: transparent #f5f5f5;
}

/* Variant : right
------------------------------------------ */
/* creates the larger triangle */
.triangle-border.right:before {
  top: 10px;
  /* controls vertical position */
  bottom: auto;
  left: auto;
  right: -30px;
  /* value = - border-left-width - border-right-width */
  border-width: 15px 0 15px 30px;
  border-color: transparent #fff;
}

/* creates the smaller triangle */
.triangle-border.right:after {
  top: 16px;
  /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom: auto;
  left: auto;
  right: -21px;
  /* value = - border-left-width - border-right-width */
  border-width: 9px 0 9px 21px;
  border-color: transparent #fff;
}

/* BUYTWTRRRRRRRRRRRRRRRRRRRRRRRR styles */
.warm.triangle-border {
  border-color: #f5f5f5;
  background: #f5f5f5;
}

.warm.triangle-border:before, .warm.triangle-border:after {
  border-color: #f5f5f5 transparent;
}

.triangle-border.left {
  color: #000;
  display: inline-block;
  border-color: #f5f5f5;
  background: #f5f5f5;
}

.triangle-border.right {
  color: #000;
  display: block;
}

.triangle-border.left a,
.triangle-border.right a,
.triangle-border.center-bottom a {
  color: #000;
  word-wrap: break-word;
  word-break: break-word;
}

.triangle-border.left a:hover, .triangle-border.left a:focus,
.triangle-border.right a:hover,
.triangle-border.right a:focus,
.triangle-border.center-bottom a:hover,
.triangle-border.center-bottom a:focus {
  color: #d65050;
}

.triangle-border.center-bottom {
  color: #000;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.triangle-border.center-bottom:before {
  left: 45.2%;
}

.triangle-border.center-bottom::after {
  left: 46%;
}