.col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-0
  a(href='/coopallies/')
    img.img-responsive.logo(src='img/logo-sharedcapital.png', alt='shared capital logo')
.col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-0
  a(href='/coopallies/')
    img.img-responsive.logo(src='img/logo-coopalliance.png', alt='coop alliance logo') 
.col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-0
  a(href='/coopallies/')
    img.img-responsive.logo(src='img/logo-tuttle.png', alt='tuttle law group logo')