link(href="https://actionnetwork.org/css/style-embed-whitelabel.css" rel="stylesheet" type="text/css")
script(src="https://actionnetwork.org/widgets/v2/petition/" + embedPetition.id + "?format=js&source=widget&style=full")
div(id="can-petition-area-" + embedPetition.id style="width: 100%")