<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png?v=2">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png?v=2">
<link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png?v=2">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png?v=2">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg?v=2" color="#1978c8">