<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:title" content=meta["og:title"])
    meta(property="og:url" content=meta["og:url"])
    meta(property="fb:app_id" content=fb.app_id)
    meta(property="og:description" content=meta["og:description"])
    meta(property="og:image" content=meta["og:image"])
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content=meta["twitter:site"])
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    include favicon.html
    include browser-update.html
    script(src="/js/vendor.min.js")
    script(src="/js/site.min.js")

- var bodyId = '';
- var bodyClass = 'page';
block vars

body(id=bodyId, class=bodyClass)
  include fb-share-preamble.pug
  
  nav#navbar-twtr.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#twtr-navbar-collapse', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/#top')
          img(src='/img/chickemoji-xs.png')
          | #BuyTwitter
      #twtr-navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/proposal') Our proposal
          li
            a(href='/#supporters') Supporters
          li
            a(href='/coopallies') Coop allies
          li
            a(href='/press') Press  
          li
            a(href='/faq') FAQ
          li
            a(href='/thiscouldwork') This could work
          li
            a(href='/whydemocratize') Why democratize    
          li
            a(href='/#organize') Get involved
      <!-- /.navbar-collapse -->
      block floatingbutton
        a.btn.btn-cta.btn-fix(type='button', href='/#petition') Add Your Name
        a.btn.btn-cta.btn-share(type='button', href="https://twitter.com/intent/tweet?text=" + twitter.text + "&related=" + twitter.related, onclick="doTrackTwitterShare()") 
          i.fa.fa-2x.fa-twitter(aria-hidden='true')
      <!-- /.container -->

  block content
      
  footer.secondary
    .col-xs-12
      include power.html
    .col-xs-12  
      .centered
        a.twitter-follow-button(data-show-count='false', data-size='large', href='https://twitter.com/BuyThisPlatform')
  include ga.html
