.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-theguardian.png', alt='the guardian logo') 
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/') 
    img.img-responsive.logo(src='img/logo-boingboing.png', alt='boing boing logo')
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-derspiegel.png', alt='der spiegel logo')
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-ephemeron.png', alt='ephemeron logo')
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-globalvoices.png', alt='global voices logo')
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-lesechos.png', alt='les echos logo')
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-marketwatch.png', alt='market watch logo')
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-businessinsider.png', alt='business insider logo')      
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-moblab.png', alt='mob lab logo')
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-quartz.png', alt='quartz logo')
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-recode.png', alt='recode logo')
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-sundaytimes.png', alt='sunday times logo')
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-npr.png', alt='npr logo')
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-coopwatercooler.png', alt='coop water cooler logo') 
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-vanityfair.png', alt='vanity fair logo')
.col-xs-6.col-sm-3.col-md-3
  a(href='/press/')
    img.img-responsive.logo(src='img/logo-inc.png', alt='inc. logo')                   