.col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
  blockquote.twitter-tweet(data-conversation='none', data-lang='en')
    p(lang='en', dir='ltr')
      a(href='https://twitter.com/BuyThisPlatform') @BuyThisPlatform
      |  I own shares. I'll be voting 'yes' for this resolution.
    span — Jenifer Daniels, APR (@jentrification) 
    a(href='https://twitter.com/jentrification/status/850458698736685056') April 7, 2017
.col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
  blockquote.twitter-tweet(data-conversation='none', data-lang='en')
    p(lang='en', dir='ltr')
      | Yes. Twitter would be an amazing coop. I'd buy into it. 
      a(href='https://twitter.com/hashtag/WeAreTwitter?src=hash') #WeAreTwitter
      a(href='https://t.co/IVVk7pMHTp') https://t.co/IVVk7pMHTp
    span — John Robb (@johnrobb)  
    a(href='https://twitter.com/johnrobb/status/852961840615366656') April 14, 2017
.col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
  blockquote.twitter-tweet(data-conversation='none', data-lang='en', data-cards='hidden')
    p(lang='en', dir='ltr')
      | Twitter HQ actually taking a vote to convert to democratic ownership, thanks to 
      a(href='https://twitter.com/BuyThisPlatform') @BuyThisPlatform
      | —can’t believe, how great! 
      a(href='https://twitter.com/hashtag/BuyTwitter?src=hash') #BuyTwitter
    span — Quinn Comendant  (@com)  
    a(href='https://twitter.com/johnrobb/status/846728244036419586') March 28, 2017
.col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
  blockquote.twitter-tweet(data-conversation='none', data-lang='en', data-cards='hidden')
    p(lang='en', dir='ltr')
      | Awesome proposal! YES is better than the current board any day! However,U need to talk to the big holder(s), esp. >5%, & get their votes! GL!
    span — Cooper Investments (@OMaxInvestments)  
    a(href='https://twitter.com/OMaxInvestments/status/855414883004952576') April 21, 2017
.col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
  blockquote.twitter-tweet(data-conversation='none', data-lang='en')
    p(lang='en', dir='ltr')
      | Cast my first-ever shareholder vote. Time to literally take @Twitter public!  #WeAreTwitter #BuyTwitter #ESG #SRI
    span — Phillip Roh (@TOproh) 
    a(href='https://twitter.com/TOproh/status/862099423580520448') May 9, 2017
.col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
  blockquote.twitter-tweet(data-conversation='none', data-lang='en')
    p(lang='en', dir='ltr')
      | 
      a(href='https://twitter.com/hashtag/BuyTwitter?src=hash') #Jez3Prez 
      | singz 4 
      a(href='https://twitter.com/hashtag/BuyTwitter?src=hash') #BuyTwitter 
      | vote 2 Xplore reforming the "People's social network" as a tweeter-owned cooperative
    span — Utopia Today! (@skippnstones)  
    a(href='https://twitter.com/skippnstones/status/866423166561771520') May 21, 2017    
script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')