a.btn.btn-medium.btn-twtr(type='button', href="https://twitter.com/intent/tweet?text=" + twitter.text + "&related=" + twitter.related, onclick="doTrackTwitterShare()")
    i.fa.fa-heart(aria-hidden='true') 
    |  Tweet about #BuyTwitter